body{
    padding: 0;
    margin: 0;
    background-color:darkgray;
    font-family: "Indie Flower", cursive,sans-serif;

}
header{
    background-color: dimgrey;
    color: black;
    font-family: "Indie Flower", cursive,sans-serif;
    text-align: center;
}
h1{
    margin: 0;
}
header div{
    font-size: 20px;
    font-weight: 300;
    border-bottom: 4px solid black;
}


.btn{
    width: 100px;
    height: 100px;
}

#container{
    margin: 6px 10px 6px 10px;
    height: 650px;
    padding: 15px;
    width: 96%;
    border: 4px solid black;
    background-color: dimgrey;
    text-align: center;
    display: inline-block;
}

.name{
    font-family: "Indie Flower", cursive,sans-serif;
    margin: 10px;
}

#hyphen{
    display: inline-block;
    font-size: 100px;
}

.scorecounter{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: darkgray;
    text-align:center;
    font-size: 83px;
    border: 3px solid black;
}

#status{
    position: relative;
    top: 110px;
    font-size: 60px;
}
#you{
    float: left;
    position: absolute;
    bottom: 140px;
}

#machine{
    float: right;
    position: absolute;
    right: 35px;
    bottom: 140px;
}

.btn{
    margin: 10px 20px 10px 20px;
    border: 3px solid black;
}